[submodule "cantata-node"]
	path = cantata-node
	url = git://github.com/yoonky/cantata-node.git
[submodule "cantata-web"]
	path = cantata-web
	url = git@github.com:bylee/cantata-web.git
[submodule "cantata-native"]
	path = cantata-native
	url = git@github.com:bylee/cantata-native.git
[submodule "cantata-jsbind"]
	path = cantata-jsbind
	url = git@github.com:bylee/cantata-jsbind.git
